#footer{
    background: #000;
    height: 250px;
}
.footer-wrap{
    width: 100%;
    height: 100%;
}
.footer-container{
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-logo-box{
    margin-bottom: 10px;
}
.footer-logo-box img{
    width: 310px;
}
.footer-text-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.text-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text-flex p{
    /* font-size: 20px; */
    font-size: clamp(12px, 2vw, 16px);
    color: #fff;
    margin: 5px 0;
}

/*--------------------------------------------*\
                Max-Width 2000px
\*--------------------------------------------*/
@media screen and (max-width: 2000px) {
    .footer-container{width: 100%; padding-left: 70px; padding-right: 70px;}
}

/*--------------------------------------------*\
                Max-Width 600px
\*--------------------------------------------*/
@media screen and (max-width: 600px) {
    #footer{height: 210px;}
    .footer-container{align-items: center; justify-content: space-around;}
    .footer-logo-box img{width: 250px;}
    .text-flex{align-items: center; justify-content: center;}
    .text-flex p{text-align: center;}
}